nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  a.navbar-brand.mr-auto.mr-lg-0(href='/') #{settings.appName}
  button.navbar-toggler.p-0.border-0(type='button' data-toggle='offcanvas')
    span.navbar-toggler-icon
  #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item.dropdown
        a#dropdown01.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Settings
        .dropdown-menu(aria-labelledby='dropdown01')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
